@page "~/import-requests"


<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Home team</td>
            <td>Away Team</td>
            <td>File Name</td>
            <td>File Name</td>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr></tr>
        <tr></tr>

    </tbody>
</table>