@page "~/upload-game/preview"
@model PreviewModel


@if (Model.Game?.HomeTeam != null)
{
    <h2>Home Team</h2>
    <h3>@Model.Game.HomeTeamName (@Model.Game.GradeName)</h3>
    @await Html.PartialAsync("_TeamStatsPreview", Model.Game!.HomeTeam)
}

@if (Model.Game?.AwayTeam != null)
{
    <h2>Away Team</h2>
    <h3>@Model.Game.AwayTeamName (@Model.Game.GradeName)</h3>
    @await Html.PartialAsync("_TeamStatsPreview", Model.Game!.AwayTeam)
}


@section Scripts {

    <script src="~/js/UploadGame/_TeamStatsPreview.js"></script>

}